{% extends "sqwbase/base.html" %}
{% load static %}

{% block content %}
  <h1>{{ calculation.molecule }} - {{ calculation.title }}</h1>
  <a href="{% url 'admin:sqwbase_calculation_change' calculation.pk %}"><i class="fa fa-edit"></i> Edit</a>
  <table class="table">
    <tr>
      <th>Task:</th>
      <td>{{ calculation.task }}</td>
    </tr>
    <tr>
      <th>Level:</th>
      <td>{{ calculation.method }}/{{ calculation.basis }}</td>
    </tr>
    <tr>
      <th>Solvent:</th>
      <td>{{ calculation.solvent }}</td>
    </tr>
    <tr>
      <th>Local:</th>
      <td>{{ calculation.local_path }}</td>
    </tr>
    <tr>
      <th>Remote:</th>
      <td>{{ calculation.remote_path }}</td>
    </tr>
    <tr>
      <th>Comment:</th>
      <td>{{ calculation.calculation_comment }}</td>
    </tr>
    <tr>
      <th>Program:</th>
      <td>{{ calculation.program }}</td>
    </tr>
  </table>

  {% if pdb %}
  <script src="{% static 'sqwbase/js/ngl.js' %}"></script>
  <script>
    const pdb_str = `{{ pdb }}`;
    document.addEventListener("DOMContentLoaded", function () {
      var stage = new NGL.Stage("viewport");
      stage.loadFile( new Blob([pdb_str], {type: 'text/plain'}),
                     { ext:'pdb', defaultRepresentation: true }
      );
    });
  </script>
  <div id="viewport" style="width:400px; height:400px;"></div>
  {% endif %}
{% endblock %}
