{% extends "sqwbase/base.html" %}
{% load sqwbase_extras %}

{% block content %}
{% load mptt_tags %}
    {% recursetree tasks %}
        {{ node.description|wrap_heading:node.level|safe }}
        {% if node.calculations %}
        <table class="table">
            <thead class="thead-dark">
              <tr>
                  <th>Molecule</th>
                  <th>Level</th>
                  <th>Comment</th>
                  <th></th>
              </tr>
            </thead>
            {% for calc in node.calculations %}
            <tr>
                <td>{{ calc.molecule }}</td>
                <td>{{ calc.method }}/{{ calc.basis }}</td>
                <td>{{ calc.calculation_comment|truncatechars:30 }}</td>
                <td><button class="btn" type="button" data-toggle="collapse"
                     data-target="#coll{{ forloop.counter }}"
                     aria-expanded="false" aria-controls="coll{{ forloop.counter }}">Show
                    </button>
                </td>
            </tr>
            <tbody class="collapse" id="coll{{ forloop.counter }}">
                <tr>
                    <th>Local:</th>
                    <td>{{ calc.local_path }}</td>
                </tr>
                <tr>
                    <th>Remote:</th>
                    <td>{{ calc.remote_path }}</td>
                </tr>
                <tr>
                    <th>Comment:</th>
                    <td>{{ calc.calculation_comment }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
            {% if not node.is_leaf_node %}
                    {{ children }}
            {% endif %}
    {% endrecursetree %}
    <span class="glyphicon glyphicon-plus"></span>
{% endblock %}
